<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %>! Press 'WASD' to move, 'Spacebar' to shoot bullets and 'Shift' to use melee attacks!</p>
<a href="/game/gameboard" class="btn btn-secondary">Enter game</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>